body{
    font-family: 'Overpass', sans-serif;
}
.container{
    margin: 10rem auto;
    max-width: 78%;
    background-color: hsl(213, 19%, 18%);
    padding: 2rem;
    border-radius: 1rem;
}
.logo{
    background-color:  hsl(213, 7%, 25%);
    padding: .5rem;
    border-radius: 50%;
    margin-bottom:1rem ;
}
.mainmessage h1{
    color: hsl(0, 0%, 100%);
    margin-top: 1.4rem;
    font-weight: 700;

}
.mainmessage p{
    color: hsl(216, 12%, 54%);
}
.ratings{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 50%;

}
.button{
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color:  hsl(213, 7%, 25%);
    color: hsl(216, 12%, 54%);
    cursor: pointer;
    margin-top: 1.5rem

;

}
.button:hover{
    background-color: hsl(25, 97%, 53%);
    color: #fff;

}
.button:focus{
    background-color:hsl(216, 12%, 54%);
    color: #fff;
}

.submit-btn{
    margin-top:1.5rem ;
    width: 100%;
    border-radius: 1.5rem;
    border: none;
    background-color: hsl(25, 97%, 53%);
    color:#fff;
    padding: .9rem 2rem;
    font-size: 1rem;
    letter-spacing: .3rem;
    font-weight: 400;
    cursor: pointer;
}
.submit-btn:active{
    background-color: hsl(0, 0%, 100%);
    color:hsl(25, 97%, 53%) ;
}


/* section-2 styles  */
.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.thankyou{
    max-width: 30%;
    border-radius: 1rem;
}
.thankyougreetings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;

}
.thankyougreetings h1{
    color: hsl(0, 0%, 100%);
    align-items: center;
    justify-content: center;
    margin-bottom: -.5rem;

}
.thankyougreetings p{
    color: hsl(216, 12%, 54%);

}
.finalrate{
display: flex;
align-items: center;
justify-content: center;
margin-top: .8rem;
}
.finalrate p{
    background-color:hsl(214, 5%, 26%) ;
    color: hsl(25, 97%, 53%);
    border-radius: 1rem;
    padding: .5rem 1rem;
}
.hidden{
    display: none;
}
.toggle-input{
    display: none;

}


.toggle-label{
    display: inline-block;
    cursor: pointer;
    background-color: rgb(28, 40, 40);
    color: #fff;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}
.toggle-label:hover{
    background-color: hsl(25, 97%, 53%) ;
}

.clicked{
    background-color: aqua;
}
.toggle-content{
    display: none;
}

@media (min-width:1107px) {
    .container{
        max-width: 28%;
    }
    .toggle-label{
        margin: .5rem;
    }
    
    

}